<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Tab name -->
        <title>Profile</title>

        <!-- Favicon -->
        <link rel="icon" href="static/images/animated_favicon.gif" type="image/gif">

        <!-- CSS -->
        <link rel="stylesheet" href="/static/styles.css">

        <!-- Google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <h1 class="title">Title</h1>
            <div class="layout">
                <div class="profile box">
                    Profile with picture
                </div>
                <div class="sections">
                    <div class="section box">Sections for info</div>
                    <div class="section box">Sections for info</div>
                    <div class="section box">Sections for info</div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer">
                <div>Made with &lt;3</div>
                <div>Portfolio</div>
                <div>&#169; Name Year</div>
            </div>
        </footer>
    </body>

</html>
