<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Tab name -->
        <title>Profile</title>

        <!-- Favicon -->
        <!-- <link rel="icon" href="static/images/animated_favicon.gif" type="image/gif"> -->
        <link rel="icon" href="static/images/octopus.gif" type="image/gif">

        <!-- CSS -->
        <link rel="stylesheet" href="/static/styles.css">

        <!-- Google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <h1 class="title">Porfolio o lo que quieras que sea por ejemplo</h1>
            <div class="layout">
                <div class="profile box">
                    <div class="img" alt="Matrix Elmo GIF"></div>
                    <div class="name">Nombre</div>
                    <p>
                        Info sobre algo tuyo
                        <br>
                        Más info
                    </p>
                    <p>Info de contacto:</p>
                    <ul>
                        <li>Info: <a href="https://info.appu.ltd?utm_medium=basesweb">info.appu.ltd</a></li>
                    </ul>
                </div>
                <div class="sections">
                    <div class="section box">
                        <h2>Título de la sección para poner info agrupada</h2>
                        <img src="/static/images/huh.gif" alt="Huh">
                    </div>
                    <div class="section box">
                        <h2>Título de la sección para poner info agrupada</h2>
                        <img src="/static/images/huh.gif" alt="Huh">
                    </div>
                    <div class="section box">
                        <h2>Título de la sección para poner info agrupada</h2>
                        <img src="/static/images/huh.gif" alt="Huh">
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer">
                <div>Hecho con &lt;3</div>
                <div>Portfolio</div>
                <div>&#127279; Nombre Año</div>
            </div>
        </footer>
    </body>

</html>
